# backend and parser

uvicorn
psycopg2-binary
sqlalchemy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
requests
beautifulsoup4
python-dotenv
# linguistics

# frontend (предположительно, если на React/Vue, то команды будут через npm, но это позже)
# streamlit # если интерфейс на Streamlit